<div class="home">
    <div class="header">
      <h1>Task Dashboard</h1>
      <div class="content">
        <div class="total-task-chart">
          <div class="chart">
            <canvas class="chartCanvas"
              baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [type]="doughnutChartType"
              [options]="doughnutChartOptions"
            >
            </canvas>
          </div>
        </div>
        <div>
          <div *ngFor="let n of typeData" class="total-task-analytics">
            <div class="legend">
                <div class="display"></div>
                <div>
              <p class="data">{{ n.count_percent | number : '1.0-2'}} %</p>
              <p class="data-type">{{ n.type }}</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-list></app-list>